<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<header>

</header>
<body>
    <h1>Your booking has been created</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/booking/create">Create another booking</a></li>
        <li><a href="/booking/modify">Check all bookings</a></li>
    </ul>
</body>
<footer>
    
</footer>
</html>