<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<header>

</header>
<body>
    <div id="logo"><!--Logo-->
        <center>
            <a  href = "/"> <img src="/logo.jpg" alt= "Our logo. :)" width="200px"></a>
        </center>
    </div>

    <ul id="navigation"><!--Main nav buttons-->
        <li><a href="/booking/create">Create a new booking</a></li>
        <li><a href="/booking/delete">Delete a booking</a></li>
        <li><a href="/booking/modify">Modify a booking</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/help">Help Page</a></li>
    </ul>
    <center><h1>Your booking has been created</h1></center>
    
</body>
<footer>
    
</footer>
</html>