<!DOCTYPE html>
<html lang="en">
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/help.css">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta name="author" content="Oleksandr Mitichkin">
	</head>
	
	<body>
		<div id="contact-page">
			<div id="logo"><!--Logo-->
                <center>
                    <a  href = "/"> <img src="/logo.jpg" alt= "Our logo. :)" width="200px"></a>
                </center>
            </div>
			
			<ul id="navigation"><!--Main nav buttons-->
                <li><a href="/booking/create">Create a new booking</a></li>
                <li><a href="/booking/delete">Delete a booking</a></li>
                <li><a href="/booking/modify">Modify a booking</a></li>
                <li><a href="/booking/report">Report on bookings</a></li>
                <li><a href="/report">Report on scheduled workshops</a></li>
                <li><a href="/about">About Page</a></li>
                <li><a href="/help">Help Page</a></li>
            </ul>
	
			<div id = "contact-content"><!--Start of Content section-->
				<div class="container-contact"><!--Start of Container section-->
					<h1>Contact With Us</h1> 
					<p>We would love to respond to your queries and help you succeed. <br>
					Feel free to get in touch with us.</p>
					<div class="contact-box"><!--Start of Contatc Box-->
						<div class="contact-left"><!--Start of Left Section contact Us-->
							<h3>Send your request</h3>
								<form>
									<div class="input-row">
										<div class="input-group">
											<label>Name</label>
											<input type="text" placeholder="Oleksandr Mitichkin">
										</div>
										<div class="input-group">
											<label>Phone</label>
											<input type="text" placeholder="+353852887744">
										</div>
									</div>
									<div class="input-row">
										<div class="input-group">
											<label>Email</label>
											<input type="email" placeholder="oleksandr.mitichkin@mycit.ie">
										</div>
										<div class="input-group">
											<label>Subject</label>
											<input type="text" placeholder="Subject here">
										</div>
									</div>
									<label>Message</label>
									<textarea rows="5" placeholder="Your Message "></textarea>
									<button class="buton" type="Submit" > SEND</button>
								</form>
						</div><!--End of Left Section contact Us-->
						<div class="contact-right"><!--Start of Right Section contact Us-->
							<h3>Reach Us</h3>
							<table>
								<tr>
									<td>Email</td>
									<td>contactus@workshop.ie</td>
								</tr>
								<tr>
									<td>Phone</td>
									<td>+353 85 288 7744</td>
								</tr>
								<tr>
									<td>Address</td>
									<td>Rossa Ave,<br>
										Bishopstown,<br>
										Cork<br>
									    T12 P928 </td>
								</tr>
							</table>
						</div><!--End of Right Section contact Us-->
					</div><!--End of Contatc Box-->
				</div><!--End of Container section-->
			</div><!--End of Content section-->
		</div><!--End of Contact Page-->

		<footer class="footer-bottom"><!--Start of footer-->
			<center>
				<div><span>© 2023 | All Rights Reserved | Made By Oleksandr Mitichkin ©</a></span></div>
			</center>
		</footer><!--End of footer-->
	</body>
</html>