<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="icon" href="/favicon.png" type="image/png">
        <meta name="author" content="Oleksandr Mitichkin">
    </head>
    <body>
        <div id="page">
            <div id="logo"><!--Logo-->
                <center>
                    <a  href = "/"> <img src="/logo.jpg" alt= "Our logo. :)" width="200px"></a>
                </center>
            </div>

            <ul id="navigation"><!--Main nav buttons-->
                <li><a href="/booking/create">Create a new booking</a></li>
                <li><a href="/booking/delete">Delete a booking</a></li>
                <li><a href="/booking/modify">Modify a booking</a></li>
                <li><a href="/about">About Page</a></li>
                <li><a href="/help">Help Page</a></li>
            </ul>
            
            <div id = "content"><!--Opening content-->
                <div class="row-first"><!--Opening first table exercise ad-->
                        <div class="column-left1"><!--Opening first left column-->
                            <img src="/images/workshops/programming.jpeg" width="500px">                            
                        </div><!--Closing first left column-->
                        <div class="column-right1"><!--Opening first right column-->
                            <h1>Programming Workshop</h1>
                            <p>
                                Programming workshops are immersive learning experiences designed to empower individuals with the skills and knowledge needed in the dynamic world of coding. 
                                These hands-on sessions go beyond traditional learning, providing participants with practical insights and real-world applications of programming languages and technologies.
                            </p>
                            <br><br><br>
                            <h2>
                                <b>Date: 20.12.2023</b> <br>  
                                <b>Time: 15:00</b>
                            </h2>
                            <br><br><br>
                        </div><!--Closing first right column-->
                </div><!--Closing first table-->
                <div class="row-second"><!--Opening second table for sauna ad-->
                    <div class="column-left2"><!--Opening second left column-->
                        <br><br>
                        <h1>Massage Workshop</h1>
                        <p>
                            Embark on a journey of skill development and relaxation with our 
                            invigorating massage workshops. Designed for enthusiasts and aspiring therapists alike, our workshops provide a unique opportunity to delve into the art and science of massage therapy.
                            <br><br>                            
                        </p>
                        <h2>
                            <b>Date: 18.12.2023</b> <br>  
                            <b>Time: 12:30</b>
                        </h2>
                    </div><!--Closing second left column-->
                    <div class="column-right2"><!--Opening second right column-->
                        <img src="/images/workshops/massage.jpeg" width="500px" height="300px" >
                    </div><!--Closing second right column-->
                </div><!--Closing second table-->			
            </div> <!--End of content-->


        </div>
        
        <footer class="footer-bottom"><!--Start of footer-->
			<center>
				<div><span>© 2023 | All Rights Reserved | Made By Oleksandr Mitichkin ©</a></span></div>
			</center>
		</footer><!--End of footer-->
    </body>
</html>