<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to MyBooking</h1>
    <p>Choose from the following options:</p>
    <ul>
        <li><a href="/booking/create">Create a new booking</a></li>
        <li><a href="/booking/delete">Delete a booking</a></li>
        <li><a href="/booking/modify">Modify a booking</a></li>
        <li><a href="/booking/report">Report on bookings</a></li>
        <li><a href="/report">Report on scheduled workshops</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/help">Help Page</a></li>
    </ul>
</body>


<footer>

</footer>
</html>